.notification {
    position: absolute;
    background-color: #31ce36;
    text-align: center;
    border-radius: 10px;
    min-width: 17px;
    height: 17px;
    font-size: 10px;
    color: #fff;
    font-weight: 300;
    line-height: 17px;
    top: 3px;
    right: 3px;
    letter-spacing: -1px;
}
.nav-link1 {
    color: rgb(0, 0, 0)!important;
}
 .nav-link1 {
    display: inline-block;
    vertical-align: middle;
    color: #666;
    letter-spacing: .04em;
    padding: 10px;
    border-radius: 3px;
    position: relative;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.fa-envelope:before {
    content: "\f0f3";
}

li
{
display: inline-block;
}
.messages-notif-box .notif-center a {
    border-bottom: 1px solid #f1f1f1;
}
.messages-notif-box .notif-center a, .notif-box .notif-center a {
    display: flex;
    color: #4d585f;
}
.messages-notif-box .notif-center a .notif-img img, .notif-box .notif-center a .notif-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.messages-notif-box .notif-center a .notif-content {
    padding: 7px 15px 7px 5px;
}
.messages-notif-box .notif-center a .notif-content, .notif-box .notif-center a .notif-content {
    padding: 10px 15px 10px 0;
}
.dropdown-title {
    border-bottom: 1px solid #f1f1f1;
    color: #444;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 15px;
    text-align: center;
}
.messages-notif-box .message-notif-scroll {
    max-height: 250px;
}
.scroll-wrapper {
    overflow: hidden!important;
    padding: 0!important;
    position: relative;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    left: auto;
    right: 0;
}
.samll{
    font-size: 27px;
}
.messages-notif-box, .notif-box {
    width: 280px;
    padding: 0!important;
}
.messages-notif-box .notif-center a .notif-img, .notif-box .notif-center a .notif-img {
    display: inline-flex;
    width: 40px;
    height: 40px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    background: #eee;
    border-radius: 50%;
}
.messages-notif-box .notif-center a .notif-content .subject, .notif-box .notif-center a .notif-content .subject {
    font-size: 13px;
    font-weight: 600;
    display: block;
    margin-bottom: 2px;
}
.messages-notif-box .notif-center a .notif-content .block, .notif-box .notif-center a .notif-content .block {
    font-size: 13px;
    line-height: 20px;
    display: block;
}
.messages-notif-box .notif-center a .notif-content .time, .notif-box .notif-center a .notif-content .time {
    color: #7d8c95;
    font-size: 11px;
}
.scrollbar-outer>.scroll-element.scroll-x {
    bottom: 0;
    height: 12px;
    left: 0;
    width: 100%;
}
.scrollbar-outer>.scroll-element {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
    background-color: #fff;
}
.scroll-element {
    display: none;
    box-sizing: content-box;
}
.messages-notif-box .see-all, .notif-box .see-all {
    border-top: 1px solid #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: #555;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
}
.messages-notif-box .see-all i, .notif-box .see-all i {
    float: right;
}
